@{
    ViewBag.Title = "JamesNet";
}

<h1>JamesNet</h1>
<p>The <em>actually functional</em> WebSocket web chat system.</p>

<form id="chatWindow" action="@{}">
    <input id="chatInput" type="text" name="Type here to chat..."/>
    <input id="chatSend" type="submit" name="Send"/>
</form>