@model ComprehensiveAssignment.Models.User
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>


<body>
    <div class="container">
        <h2>Welcome To Tickr</h2>


        <div class="row">
            <div class="col-lg-6">
                <h3>Existing Users</h3>
                <form class="col-lg-4">
                    <div class="form-group">
                        <label>Email Address:</label>
                        <input type="email" class="form-control" id="email" />
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" class="form-control" id="pwd" />
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-lg-6">
                <h3>New Users</h3>

                @using (Html.BeginForm("CreateUser", "Login", FormMethod.Post))
                {
                    <div class="form-group">
                        <label>First Name:</label>
                        @Html.TextBoxFor(Model => Model.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                    </div>
                    <div class="form-group">
                        <label>Last Name:</label>
                        @Html.TextBoxFor(Model => Model.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control", @placeholder = "Email" })
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        @Html.TextBoxFor(Model => Model.Password, new { @class = "form-control" })
                    </div>

                    <button type="submit" class="btn btn-primary">Create Account</button>
                }

              <!--  <form action="CreateUser" method="post" class="col-lg-6">
                    <div class="form-group">
                        <label>First Name:</label>
                        <input type="text" name="firstName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Last Name:</label>
                        <input type="text" name="lastName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="email" name="email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" name="password" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary">Create Account</button>
                </form>-->
            </div>

        </div>
    </div>
</body>



